@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.rborder {
  border: red 1px solid;
}

.gborder {
  border: green 1px solid;
}

.bborder {
  border: blue 1px solid;
}

/* The translation must be equal to the width of the infinite scroll div */
.slide-left {
  animation: slideLeft 15s linear infinite;
}

.drift-right {
  animation: driftRight 60s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1250px);
  }
}

@keyframes driftRight {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}

.move-ship {
  animation: moveShip 60s linear infinite;
}

@keyframes moveShip {
  0% {
    transform: translate(50vw, 50vh); /* Start at bottom-right */
  }
  100% {
    transform: translate(
      -38vw,
      -50vh
    ); /* Move towards top-left at a 140-degree angle */
  }
}
