.preview .embed_jobs_head2 {
  border: none;
  /* width: 100%; */
}
.preview.embed_jobs_head {
  border: none;
  /* width: 100%; */
  background-color: white;
}

/* .preview .rec-group :nth-child(n + 4) {
  display: none;
} */

.preview.embed_jobs_with_style_1 ul.rec-group {
  /* border: green solid 2px; */
  display: flex;
}

.preview .rec-group .rec-job-info {
  /* border: red 1px solid; */
  min-height: 200px;
  min-width: 200px;
  padding-top: 30px;
}
.preview .rec-group .rec-job-title {
  margin-bottom: 20px;
}

/* Mobile devices */
@media (max-width: 768px) {
  .preview .rec-group .rec-job-info:nth-child(n + 4) {
    display: none;
  }
  .preview .rec-group {
    display: none;
    overflow-x: scroll;
  }
}

/* Desktop/larger screens */
@media (min-width: 769px) {
  .preview .rec-group .rec-job-info:nth-child(n + 5) {
    display: none;
  }
}
.preview.preview.embed_jobs_with_style_1 .rec_filter_cls {
  display: none;
}
.preview .rec-grp-cnt {
  display: none;
}
.preview .rec-grp-drop {
  display: none;
}

.preview span.rec-grp-name::after {
  content: 'Featured Jobs';
  font-size: 1.875rem;
  font-family: __Inter_d65c78;
  font-weight: 400;
  text-align: center;
}
.preview span.rec-grp-name {
  font-size: 0;
}
