/* The translation must be equal to the width of the infinite scroll div */
.slide-left {
  animation: slideLeft 15s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1250px);
  }
}